html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: black;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

.lead {
font-family: 'Lato', sans-serif;

}

p {
font-family: 'Merriweather', serif;

}